.menu-header-wrapper {
    height: 10vh
}

.menu-header {
    width: 100%;
    height: 100%;
}

.menu-items {
    flex-direction: column;
    background-color: white;
    z-index: 100;
    position: absolute;
}

.sub-menu-item-wrapper {
    position: absolute;
    background-color: white;
}

.sub-menu-wrapper {
    height: 10vh;
}

.sub-menu-item {
    width: 100%;
    height: 100%;
}

.create-account-form {
    background-color: whitesmoke;
}

.login-form {
    background-color: whitesmoke;
}