<footer class="footer">
    <div>
        <a href="https://github.com/bdfee/quoted">
            <%= image_tag("github-small.png") %>
        </a>
    </div>
        <div>
        
        </div>


</footer>