.main {
    display: grid;
    grid-template-columns: 20vw 60vw;
    grid-template-rows: 40vh 40vh;
    background-color: whitesmoke;
}

.container {
    display: flex;
    justify-content: center;
}