<!DOCTYPE html>
<html>
  <head>
    <title>Quote me on it</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
    <%= stylesheet_pack_tag 'hello-world-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<%#= yeild embedded ruby syntax content of the view being rendered is inserted here %>
