<!DOCTYPE html>
<html>
  <head>
    <title>Quoted</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'main-bundle' %>
  </head>

  <body>

    <header></header>

    <nav></nav>

    <main>
      <%= yield %>
    </main>

    <footer></footer>

    
  </body>
</html>

<%#= yeild embedded ruby syntax content of the view being rendered is inserted here %>
